@import './scss/mixins.scss';


h1 {

width: 741px;
height: 300px;
left: 240px;
top: 190px;
color: green;

font-family: DM Serif Display;
font-style: normal;
font-weight: normal;
font-size: 100px;
line-height: 100%;
/* or 100px */


}